 .contenedor{width:400px;
             border-radius: 10px;
             margin-left:100px;
             padding:100px;
             }
             .carousel slide{
             	margin-top:10px}
             .carousel slide img{
             height: 60px;
